@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_font"
@import "./_icons"
// Section 1 Fond

body
    font-family: $biloutxt

#section1
    background-color: #f3f3f3
#section2
    #bilou1
        background-image: url("../../public/img/services/service-1.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px

    #bilou2
        background-image: url("../../public/img/services/service-2.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px

    #bilou3
        background-image: url("../../public/img/services/slider-3.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px
        
    div
        border: 5px solid white
        h4
            color: white
            font-weight: bold
        hr 
            height: 2px
#section4
    background-image: url("../../public/img/cta-bg.jpg")
    height: 750px
    // width: 100%
    background-position: center
    background-size: cover

#section6
    #carte1
        background-color: whitesmoke
        border: white 10px solid
        padding-bottom: 15px

    #carte2
        background-color: red 
        border: white 7px solid
        padding-bottom: 15px


    #carte3
        background-color: whitesmoke
        border: white 7px solid
        padding-bottom: 15px
footer 
    button
        border-radius: 6px
        border: none
        border: 1px solid gray 
    
    #fin
        background-color: black
        margin: auto
        padding-bottom: 20px

#modal
    width: 800px
    height: 500px
    border: solid black 5px
    background-color: #f3f3f3
    position: fixed
    margin: 220px 220px
    display: none
    z-index: 1
    box-shadow: 0 0 50px

    input
        width: max-content
#modal2
    width: 800px
    height: 500px
    border: solid black 5px
    background-color: #f3f3f3
    position: fixed
    // margin-left: 770 px
    // margin-top: 85px
    display: none
    z-index: 1
    box-shadow: 0 0 50px
    margin: 220px 220px

#navv
    background-color: white






    
    

        
        

