@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "./_variables"
@import "./_font"
@import "./_icons"
// Section 1 Fond

body
    font-family: $biloutxt

#section1
    background-color: #f3f3f3
#section2
    #bilou1
        background-image: url("../../public/img/services/service-1.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px

    #bilou2
        background-image: url("../../public/img/services/service-2.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px

    #bilou3
        background-image: url("../../public/img/services/slider-3.jpg")
        background-size: cover
        width: 100%
        // padding-bottom: 150px
        
    div
        border: 5px solid white
        h4
            color: white
            font-weight: bold
        hr 
            height: 2px
#section4
    background-image: url("../../public/img/cta-bg.jpg")
    height: 750px
    // width: 100%
    background-position: center
    background-size: cover
    